
@import "vars";
@import "bootstrap-5.3.0/scss/bootstrap.scss";

/* Bootstrap Overrides */

$theme-colors: (
  "primary": #00365b,
  "danger": #ff4136
);

/* Custom Styles */


@font-face {
    font-family: 'Yale New Roman';
    src: url(/assets/fonts/YaleNewRoman.otf) format(opentype);
}

@font-face {
    font-family: 'Mallory Light';
    src: url(/assets/fonts/MalloryLight.ttf) format(truetype);
}

$backgroundColor: #ffffff;
$bodyColor: #000000;

$bodyFont: "Yale New Roman",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

h1, h2, h3, h4 {
    font-family: 'Mallory Light';
}

// Masthead

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('/images/homepage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
  }

.masthead h1, .masthead .lead {
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.masthead h1 {
    -webkit-text-stroke: 1px #00365b; /* width and color */

}

.masthead .lead {
    color: #f9f9f9;
    font-size: 1.4rem;

}

// Navbar
nav {
    transition: background-color 0.4s ease-in-out;
}

nav.scrolled {
    background-color: #00365b !important;
    opacity: .9 !important;
}

.navbar-brand {
    color: #00365b;
    // transition: color 0.4s ease-in-out;
}

// nav.scrolled .navbar-brand {
//     color: white !important;
// }

// .nav-link {
//     transition: color 0.4s ease-in-out;
// }

// nav.scrolled .nav-link.active {
//     color: white !important;
// }

// nav.scrolled .nav-link {
//     color: #ddd !important;
// }







  
