
@import "vars";
@import "bootstrap-5.3.0/scss/bootstrap.scss";

/* Custom Styles */


@font-face {
    font-family: 'Yale New Roman';
    src: url(/assets/fonts/YaleNewRoman.otf) format(opentype);
}

@font-face {
    font-family: 'Mallory Light';
    src: url(/assets/fonts/MalloryLight.ttf) format(truetype);
}

$backgroundColor: #ffffff;
$bodyColor: #000000;

$bodyFont: "Yale New Roman",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

h1, h2, h3, h4 {
    font-family: 'Mallory Light';
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('/images/homepage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
