---
layout: default
---

<!-- Events Header -->
<header
  class="masthead event {% if page.banner %}banner{%else%}short{% endif %}"
>
  {% if page.banner %}
  <div
    class="parallax mb-5"
    style="background-image: url('/images/encounters/{{page.banner}}'); background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid black;
  height: 66vh;"
  ></div>
  {% endif %}
</header>

<div class="container mt-5 mb-5">
  <div class="row align-items-center">
    <div class="col-12 text-center text-white">
      <span class="h3 text-muted pb-5">the creative forum presents...</span>
      <h1
        class="fw-light display-3 text-primary"
        data-mdb-toggle="animation"
        data-mdb-animation-reset="true"
        data-mdb-animation="fade-in-left"
        data-mdb-animation-start="onLoad"
      >
        {{page.title}}
      </h1>
      {% if page.subtitle %}
      <p class="lead text-primary">{{page.subtitle}}</p>
      {% endif %} {% if page.with %}

      <span class="h3 text-muted pb-5">with...</span>
      {% for person in page.with %}
      <h2 class="fw-light display-5 text-primary">{{person}}</h2>
      {% endfor %} {% endif %}
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center mb-4">
    <div class="col-8">
      {% if page.date %}
      <p class="date h2">{{page.date | date: "%A, %b %d, %Y"}}</p>
      {% endif %}
      <p class="time h3 text-muted">{{page.start-time}}</p>
      <p class="location h3 text-muted">{{page.location}}</p>
    </div>
  </div>
  <div class="row justify-content-center mb-4">
    <div class="col-sm-12 col-md-8">{{content}}</div>
  </div>
  <div class="row justify-content-center mb-4">
    <div class="col-4 mb-5">
      <a
        href="https://calendar.google.com/calendar/render?action=TEMPLATE&text={{event.title}}&details={{event.description}}&dates={{ event.calendar }}&location={{event.location}}"
        target="_blank"
        ><button type="button" class="btn btn-warning text-white">
          Add to Calendar
        </button></a
      >
    </div>
    {% if page.poster %}
    <div class="col-4 mb-5">
      <a href="/images/encounters/{{page.poster}}" class="ps-2" target="_blank"
        ><button type="button" class="btn btn-warning text-white">
          Download Poster
        </button></a
      >
    </div>
    {% endif %}
  </div>
</div>
