---
layout: default
---

<!-- Events Header -->
<header
  class="masthead event {% if page.banner %}banner{%else%}short{% endif %}"
>
  {% if page.banner %}
  <div
    class="parallax mb-5"
    style="background-image: url('/images/encounters/{{page.banner}}'); background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid black;
  height: 50vh;"
  ></div>
  {% endif %}

  <div class="container mt-5 mb-5">
    <div class="row align-items-center">
      <div class="col-12 text-center text-white">
        <span class="h5 text-muted">the Creative Forum presents...</span>
        <h1
          class="fw-light display-5 text-primary"
          data-mdb-toggle="animation"
          data-mdb-animation-reset="true"
          data-mdb-animation="fade-in-left"
          data-mdb-animation-start="onLoad"
        >
          {{page.title}}
        </h1>
        {% if page.subtitle %}
        <p class="lead text-primary">{{page.subtitle}}</p>
        {% endif %}
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row justify-content-center mb-4">
    <div class="col-8">
      <p class="date h2">{{page.date | date: "%A, %b %d, %Y"}}</p>
      <p class="time h3 text-muted">{{page.start-time}}</p>
      <p class="location h3 text-muted">{{page.location}}</p>
    </div>
  </div>
  <div class="row justify-content-center mb-4">
    <div class="col-8">{{content}}</div>
  </div>
  <div class="row justify-content-center mb-4">
    <div class="col-8 mb-5">
      <a
        href="https://calendar.google.com/calendar/render?action=TEMPLATE&text={{event.title}}&details={{event.description}}&dates={{ event.calendar }}&location={{event.location}}"
        target="_blank"
        ><button type="button" class="btn btn-warning text-white">
          Add to Calendar
        </button></a
      >
      {% if page.poster %}
      <a href="/images/encounters/{{page.poster}}" class="ps-2" target="_blank"
        ><button type="button" class="btn btn-warning text-white">
          Download Poster
        </button></a
      >
      {% endif %}
    </div>
  </div>
</div>
